{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block title %}{{ super() }} - Aglomerações urbanas{% endblock %}
{% block body %}
    {{ super() }}
    <h1>Aglomerações urbanas ordenadas por nome</h1> 
    <ul>
    {% for aglomeracao in ibge_data %}
    <li>id: {{ aglomeracao["id"] }}, nome: {{ aglomeracao["nome"] }}</li> 
    <ul>
      {% for municipio in aglomeracao["municipios"] %}
      <li> id: {{ municipio["id"] }}, municipio: {{ municipio["nome"] }}, UF: {{ macros.render_a_uf(municipio["UF"]["id"],municipio["UF"]["nome"]) }}, região: {{ municipio["UF"]["regiao"] }} </li>
      {% endfor %}
    </ul>
    {% endfor %}
    </ul>
{% endblock %}
