{% extends "head.jinja" %} 
{% block body %} {{ super() }}
Tipo de localidade: {{ descr_tipo_loc[1] }}</br>
Nome:
{% if tipo_loc == "aglomeracoes-urbanas" %}
{% with ibge_data=ibge_data, obj_loc=obj_loc %}
{% include "aglomeracao-urbana.jinja" %}
{% endwith %}
{% elif tipo_loc == "municipios" %}
{% with ibge_data=ibge_data, secoes_pertence=secoes_pertence %}
{% include "municipio.jinja" %}
{% endwith %}
{% elif tipo_loc == "estados" %}
{% with ibge_data=ibge_data, secoes=secoes, sub_loc=sub_loc %}
{% include "uf.jinja" %}
{% endwith %}
{% elif tipo_loc == "regioes" %}
{% with ibge_data=ibge_data, obj_loc=obj_loc %}
{% include "regiao.jinja" %}
{% endwith %}
{% elif tipo_loc == "distritos" %}
{% with ibge_data=ibge_data, obj_loc=obj_loc %}
{% include "distrito.jinja" %}
{% endwith %}
{% endif %}
<p>{{ obj_loc.get_json_obj() }}</p>
{% endblock %}

