{% extends "head.html" %} {% block body %} {{ super() }}
{{ descr_tipo_loc[1] }}</br>
<h2>{{ ibge_data['nome'] }}</h2>
{% if tipo_loc == "aglomeracoes-urbanas" %}
{% with ibge_data=ibge_data %}
{% include "aglomeracao-urbana.html" %}
{% endwith %}
{% elif tipo_loc == "municipios" %}
{% with ibge_data=ibge_data %}
{% include "municipio.html" %}
{% endwith %}
{% elif tipo_loc == "estados" %}
{% with ibge_data=ibge_data, secoes=secoes, sub_loc=sub_loc %}
{% include "uf.html" %}
{% endwith %}
{% endif %}
{% endblock %}
