{% extends "base.html" %}
{% block body %}
{{ super() }}
    <ul>
      <li><a href="https://servicodados.ibge.gov.br/api/docs/localidades">Documentação da API de Localidades</a></li>
      <li><a href="{{ url_for('tipo_loc',tipo_loc='aglomeracoes-urbanas') }}">Aglomerações urbanas por nome</a></li>
      <li><a href="{{ url_for('tipo_loc',tipo_loc='distritos') }}">Distritos</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='mesorregioes') }}">Mesorregiões</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='microrregioes') }}">Microrregiões</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='municipios') }}">Municipios</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='paises') }}">Países</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='paises') }}">Países</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='regioes') }}">Regiões</a></li>
      <li><a href="{{ url_for('tipo_loc2',tipo_loc='regioesimediatas') }}">Regiões Imediatas</a></li>
      <li><a href="{{ url_for('tipo_loc',tipo_loc='estados') }}">UFs</a></li>
    </ul>
{% endblock %}
