{% extends "base.jinja" %}
{% block head %}
{{ super() }}
<!-- #TODO remover a url abaixo para o python ou macro -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="{{ url_for('static',filename='js/guia_js/guia.js') }}"></script>
{% endblock %}
{% block body %}
{{ super() }}
    <p><a href="https://servicodados.ibge.gov.br/api/docs/localidades">Documentação da API de Localidades</a></p>
    <ul>
      {% for tipo in tipos_loc.keys() %}
      <li><a href="{{ url_for('tipo_loc',tipo_loc=tipo) }}">{{ tipos_loc[tipo]['descr'][0] }}</a></li>
      {% endfor %}
    </ul>
<p id="myLocation"></p>
<script>
  getLocation();
</script>
{% endblock %}
