{% macro render_url_loc(tipo_loc,nome,id) %}
<a href="{{ url_for('loc',tipo_loc=tipo_loc,loc_id=id) }}">{{ nome }}</a>
{% endmacro %} 

{% macro id_uf_do_municipio(ibge_data) %} 
{{ ibge_data['regiao-imediata']['regiao-intermediaria']['UF']['id'] }} 
{% endmacro %} 

{% macro nome_uf_do_municipio(ibge_data) %} 
{{ ibge_data['regiao-imediata']['regiao-intermediaria']['UF']['nome'] }} 
{%endmacro %}

{% macro nome_micreg_do_municipio(ibge_data) %} 
{{ ibge_data['microrregiao']['nome'] }} 
{% endmacro %} 

{% macro nome_regiao_do_municipio(ibge_data) %} 
{{ ibge_data['regiao-imediata']['regiao-intermediaria']['UF']['regiao']['nome'] }}
{% endmacro %} 

{% macro id_regiao_do_municipio(ibge_data) %} 
{{ ibge_data['regiao-imediata']['regiao-intermediaria']['UF']['regiao']['id'] }} 
{%endmacro %}
